@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf)
}
@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf)
}
@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/Helvetica-Bold.ttf)
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
h1, .h1, h2, .h2, h3, .h3 {
   font-family: Helvetica;
}
/*----------------------  CUSTOM VALIDATION ERROR CSS ----------------------------*/
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /*color:#a94442;*/
}
.has-error .help-block {
    color: #a94442;
    margin-left: 10px;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.alert {
    /*padding: 15px;*/
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    border-radius: 0px !important;
    text-align:center;
    font-size:15px;
}
/*----------------------  END CUSTOM VALIDATION ERROR CSS ----------------------------*/

html {
	max-width: 1200px!important;
    margin: auto!important;
	height: 100%;
    background-color: rgba(54, 54, 54, .14)!important;
}
body {
	font-family: Roboto-Regular;
	display: block;
	margin: 0;
	height: 100%;
	position:relative;
}
.khtlogo{
		width: 165px;
}
.headerItems{
	padding-bottom:5px;border-bottom:2px solid white;
}
.headerItems:hover, .headerItems:active, .headerItems:visited, .headerItems:focus{
	padding-bottom:5px;border-bottom:2px solid blue;
}
.serviceItemBox{
	height: 60px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 95px;
}
/*----------------------  LOGIN SIGN UP ----------------------------*/

.loginHead{
	position: absolute;
    right: 80px;
    top: 25px;
    display: flex;
}
.profilelogo{
	width: 25px;
    height: 25px;
    position: absolute;
    z-index: 8;
	display:inline-flex;
}
.loginnav {
    height: 100vh;
   width: 0px;
   
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.2s;
	z-index: 9;
}
.nav-tabs{
	border-bottom: none;
}
/*.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}
.nav-tabs > li > a{
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border: none;
}
.nav-tabs > li.active > a{
	border: none;
	color: #0070B5;
}
.nav-tabs > li.active > a{
	border:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
	border: none;
	color: red;
}*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color:red;
	font-weight: 500;
	border-bottom: 3px solid red;
}
.form-control{
	width: 100%;
    margin: 0px auto;
    border: transparent;
	border-radius: 0px;
    border-bottom: 1px solid gray;
    /*padding: 6px 20px;*/
	-webkit-box-shadow: none;
     box-shadow: none; 
     -webkit-transition: none;
    background:transparent;
}

.form-control:focus {
    border-color: #66afe9;
    outline: none;
     -webkit-box-shadow: none; 
     box-shadow: none; 
}
.form-control1:focus {
  border-color: #ffffff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control1 {
    display: block;
    width: 95%;
    height: 46px;
    font-size: 18px;
    padding: 6px 2px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: none;
     box-shadow: none; 
     -webkit-transition: none;
   /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}
.form-control1::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control1:-ms-input-placeholder {
  color: #fff;
}
.form-control1::-webkit-input-placeholder {
  color: #fff;
}
.has-error .form-control1 {
    border-color: #a94442;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /*color: #a94442 !important;*/
}

.has-error .form-control1 {
    /* border-color: #a94442; */
    /* -webkit-box-shadow: none !important; */
    /* box-shadow: none !important; */
    /* color: #a94442; */
}

.has-error .input-group-addon {
    color: #ffffff;
    background-color: transparent;
    border-color: #a94442;
    border-bottom: 1px solid #a94442 !important;
}
.has-error .help-block {
    color: #a94442 !important;
    margin-left: 10px;
}

.form-group{
	margin-bottom: 20px;
}
.signupbutton{
	width: 95%;
    background: #0F7CC7;
    height: 38px;
    color: white;
    border-radius: 5px;
	border: none;
}
.signupbutton:hover{
	width: 95%;
    background: #0F7CC7;
    height: 38px;
    color: white;
    border-radius: 5px;
	border: none;
}

.submitbutton{
	width: 200px;
    background: #0F7CC7;
    height: 38px;
    color: white;
    border-radius: none;
	border: none;
}
.submitbutton:hover{
	width: 200px;
    background: #0F7CC7;
    height: 38px;
    color: white;
    border-radius: none;
	border: none;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 227px;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 38px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}



/*-------------------------  FORM ICONS -----------------------------*/
.inputicon{
	 width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 7px;
    left: 15px;
}
sup {
    top: -0.1em;
}
.formicon1{
	width: 20px;
    height: 20px;
    position: absolute;
    top: 28px;
    left: 9px;
    padding-right: 25px;
    border-right: 1px solid black;
}


/*----------------------  BRAND DESIGN -----------------------------*/
.titleHead{
	    text-align: center;
    font-size: 24px;
    padding-top: 25px;
    font-weight: 600;
    color: #9B9BA4;
    margin-bottom: 15px;
}



.innerbrandimage{
	        position: absolute;
    left: 22%;
    width: 58%;
    top: 10%;
}

.explorebutton{
	    position: absolute;
    left: 30%;
    width: 40%;
    top: 75%;
    color: white;
    background: #0870B7;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

/*-------------------------------- TESTIMONIALS ------------------------------*/
.testimonialback{
	position: relative;
	background:url("../images/home/testimonialback.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height:390px;
}

/*-------------------------------HOME SERVICES -------------------------------*/
.maincontainer{
	    background: white;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-bottom: 60px;
}

.card{
	 position: relative;
  display: block;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid lightgray;
	border-radius: 5px;
}
.rightarrow{
	text-align: left;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.servicetitle{
	    text-align: left;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: #0D639C;
    margin-bottom: 15px;
	padding-left: 25px;
}

/*-------------------------------SERVICES---------------------------------*/

.serviceBox{
	position: relative;top: -20px;background: #F5F5F5;height: 400px;padding-bottom: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);width: 90%;margin: 0px auto;padding: 35px;
}
.serviceTitleBox{
	text-align: center;
    top: 35px;
    position: relative;
}
.serviceTitle{
	padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #26658E;
    border-bottom: 1px solid #26658E;
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}



/*----------------------------------MEDIA QUERIES------------------------------------*/
@media (min-width: 992px){
  	.visible-md-inline-flex {
		display: inline-flex !important;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.khtlogo{
		width: 150px;
	}
	.sidenav {
		top: 95px;
	}
	.loginHead{
		right: 60px;
	}
	.menustrip{
	background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 57px;
    width: 100%;
    max-width: 1200px;
    border-radius: 0px;
    color: white;
    height: 45px;
}
	.serviceItemBox{
		top:102px;
	}
	.menuicon{
	color: white;
    position: absolute;
    top: 57px;
    right: 3%;
    font-size: 22px;
    /* padding: 10px; */
    cursor: pointer;
    z-index: 9;
    height: 45px;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 8px;
}
}

@media (min-width: 320px) and (max-width: 479px) {
	.khtlogo{
		width: 120px;
	}
	.sidenav {
		top: 80px;
	}
	.menustrip{
	background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 40px;
    width: 100%;
    max-width: 1200px;
    border-radius: 0px;
    color: white;
    height: 45px;
}
	.serviceItemBox{
		top:85px;
	}
	.menuicon{
	color: white;
    position: absolute;
    top: 40px;
    right: 3%;
    font-size: 22px;
    /* padding: 10px; */
    cursor: pointer;
    z-index: 9;
    height: 45px;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 8px;
}
	.loginHead{
	position: absolute;
    right: 60px;
    top: 10px;
    display: flex;
}
}
/*Specific Cases*/

.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 0;
}
/*Global*/

.btn.btn-square {
  border-radius: 0;
}
.cartitle{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    color: #0D639C;
    margin-bottom: 15px;
	/*padding-left: 25px;*/
}
.emititle{
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: none;
    color: #ffffff;
    margin-bottom: 15px;
	/*padding-left: 25px;*/
}
.btncustom {
    width: 50% !important;
}
/*CHEF CSS START*/
.full {
    background: url(../images/home/Wallpapaer1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.customcar {
    background: url(../images/home/Newcars.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.card1{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FF1717;
    border: 1px solid transparent;
	border-radius: 0px;
}
.card2{
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FF9F05;
  border: 1px solid transparent;
  border-radius: 0px;
}
.top-buffer { margin-top:20px; }

.boxshadow{
  position: relative;
  display: block;
  margin-bottom: 10px;
  background-color: transparent;
  border: 0px solid lightgray;
  border-radius: 5px;
  padding:10px;
  color:black;
    
}
.extraspace { 
    margin-bottom:30px;
    text-align: center;
    padding-left: 25px;
    padding-right: 15px;
}
.quotes{
	text-align: left;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.padding {
   padding: 10px !important;
}
 .container-footer {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #ffffff;
      color: #fff;
  }
.ourservice{
	    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0px;
    height:80px;
}
.cardservice{
	 position: relative;
  display: block;
  margin-bottom: 0px;
  background-color: white;
  border: 0px solid lightgray;
	border-radius: 5px;
}
  .affix {
      top: 0;
      width: 100%;
	  position: fixed;
	  max-width: 1200px;
	  z-index: 9;
  }
.login-image:before {
    content: "";
    width: 28px;
    height: 23px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.onroadprice-image:before {
    content: "";
    width: 31px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.customimg:before{
     background-image : url(../images/home/Login_icon.png);
}
.editimg:before{
     background-image : url(../images/home/edit.png);
}
.addimage:before{
     background-image : url(../images/home/add.png);
}
.onroadprice:before{
     background-image : url(../images/cardetail/onroadprice.png);
}
.btn-primary {
    color: #fff;
    background-color: #F77041;
    border-color: #F77041;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #F77041;
  border-color: #F77041;
}
.btn-primary:hover {
  color: #fff;
  background-color: #F77041;
  border-color: #F77041;
}
.facebook-image:before {
  content: "";
    width: 25px;
    height: 27px;
    margin-top:-3px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.faceimg:before{
     background-image : url(../images/home/facebookicon.png);
}
.google-image:before {
  content: "";
    width: 26px;
    height: 26px;
    margin-top:-3px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.googleimg:before{
     background-image : url(../images/home/googleicon.png);
}
/*FORM NAV BAR CUSTOM ICONS*/
.custom-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom-icon.extrasmall {
    width: 14px;
    height: 14px;
}
.custom-icon.small {
    width: 16px;
    height: 16px;
}
.custom-icon.medium {
    width: 32px;
    height: 32px;
}
.custom-icon.icon-teston {
    background: url(../images/tabicons/Testdrive1.png);
    background-size: cover;
}
.custom-icon.icon-testoff {
    background: url(../images/tabicons/Testdrive.png);
    background-size: cover;
}
.custom-icon.icon-serviceon {
    background: url(../images/tabicons/Service1.png);
    background-size: cover;
}
.custom-icon.icon-serviceoff {
    background: url(../images/tabicons/Service.png);
    background-size: cover;
}
.custom-icon.icon-insuranceon {
    background: url(../images/tabicons/Insurance1.png);
    background-size: cover;
}
.custom-icon.icon-insuranceoff {
    background: url(../images/tabicons/Insurance.png);
    background-size: cover;
}
.custom-icon.icon-emion {
    background: url(../images/tabicons/EMI1.png);
    background-size: cover;
}
.custom-icon.icon-emioff {
    background: url(../images/tabicons/EMI.png);
    background-size: cover;
}
.custom-icon.icon-priceon {
    background: url(../images/tabicons/Pricequote1.png);
    background-size: cover;
}
.custom-icon.icon-priceoff {
    background: url(../images/tabicons/Pricequote.png);
    background-size: cover;
}
.custom-icon.icon-contacton {
    background: url(../images/tabicons/Contactus1.png);
    background-size: cover;
}
.custom-icon.icon-contactoff {
    background: url(../images/tabicons/Contactus.png);
    background-size: cover;
}
.custom-icon.icon-feedbackon {
    background: url(../images/tabicons/Feedback1.png);
    background-size: cover;
}
.custom-icon.icon-feedbackoff {
    background: url(../images/tabicons/Feedback.png);
    background-size: cover;
}
/*----------------------  TEST DRIVE FORM ----------------------------*/

.btn-default {
    color: #1367b3;
    font-size:16px;
    font-weight: bold;
    background-color: #ffffff;
    border-color: #1367b3;
}
.btn-default:focus,
.btn-default.focus {
  color: #1367b3;
  background-color: #ffffff;
  border-color: #1367b3;
}
.btn-default:hover {
  color: #1367b3;
  background-color: #ffffff;
  border-color: #1367b3;
}
.custom-icon.large {
    width: 20px;
    height: 20px;
}
.custom-icon.mediumins {
    width: 31px;
    height: 35px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 0px;
}
.input-group-addon {
    padding: 5px 11px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: transparent;
    border: 0px solid #ccc; 
    border-bottom: 1px solid #fff !important;
    border-radius: 0px;
}
input[type=checkbox].big-checkbox {
  transform: scale(1.5);
}

.custom-icon.icon-iconname {
    background: url(../images/formicons/name.png);
    background-size: cover;
}
.custom-icon.icon-iconemail {
    background: url(../images/formicons/Mail.png);
    background-size: cover;
}
.custom-icon.icon-iconmobile {
    background: url(../images/formicons/MobileNo.png);
    background-size: cover;
}
.custom-icon.icon-iconmodel {
    background: url(../images/formicons/Model.png);
    background-size: cover;
}
.custom-icon.icon-iconfuel {
    background: url(../images/formicons/Fueltype.png);
    background-size: cover;
}
.custom-icon.icon-iconshowroom {
    background: url(../images/formicons/Dealer.png);
    background-size: cover;
}
.custom-icon.icon-icondate {
    background: url(../images/formicons/Date.png);
    background-size: cover;
}
.custom-icon.icon-icontime {
    background: url(../images/formicons/Time.png);
    background-size: cover;
}
.custom-icon.icon-iconaddress {
    background: url(../images/formicons/Address.png);
    background-size: cover;
}
.custom-icon.icon-iconregno {
    background: url(../images/formicons/RegistrationNumber.png);
    background-size: cover;
}
.custom-icon.icon-iconkilometer {
    background: url(../images/formicons/Kilometer.png);
    background-size: cover;
}
.custom-icon.icon-iconcomments {
    background: url(../images/formicons/Comments.png);
    background-size: cover;
}
.custom-icon.icon-iconinsurance {
    background: url(../images/formicons/Insurancecompany.png);
    background-size: cover;
}
.custom-icon.icon-iconpolicy {
    background: url(../images/formicons/Policynumber.png);
    background-size: cover;
}
.custom-icon.icon-iconexpiry {
    background: url(../images/formicons/Expirydate.png);
    background-size: cover;
}
.custom-icon.icon-iconvariant {
    background: url(../images/formicons/Variant.png);
    background-size: cover;
}
.custom-icon.icon-icononroad {
    background: url(../images/formicons/Onroadprice.png);
    background-size: cover;
}
.custom-icon.icon-icontenure {
    background: url(../images/formicons/Tenure.png);
    background-size: cover;
}
.custom-icon.icon-iconrateinst {
    background: url(../images/formicons/Rateofinterest.png);
    background-size: cover;
}
.custom-icon.icon-icondownpay {
    background: url(../images/formicons/Downpayment.png);
    background-size: cover;
}
.custom-icon.icon-iconfeedback {
    background: url(../images/formicons/Feedback.png);
    background-size: cover;
}
.testdrivebg {
    background: url(../images/background/testdrive.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.servicebookbg {
    background: url(../images/background/Banner_service.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.insurancebg {
    background: url(../images/background/Banner_insurance.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.emicalcbg {
    background: url(../images/background/Banner_EMI.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.feedbackbg {
    background: url(../images/background/Banner_Feedback.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.pricequotebg {
    background: url(../images/background/Banner_pricequote.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
.contactbg {
    background: url(../images/background/Banner_contactus.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}
   #bottom-footer a{
   /* text-decoration: none;*/
    padding: 0px 15px;
    border-right: 1px solid #636363;
    font-family: Helvetica;
    font-size: 14px;
    color: #717171;
    }
    .foot-links img{
	 margin: 5px;
}
/*----------------------  NAV BAR CUSTOM CSS ----------------------------*/

  .navbar-custom {
    color: #FFFFFF;
    background-color: #1367b3;
}
    .navbar-custom > li {
    float: left;
    margin-bottom: -1px;
}

.navbar-custom > li > a {
    border-bottom: 0px solid #ddd;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 100px;
}

.navbar-custom > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.navbar-custom > li.active > a, .navbar-custom > li.active > a:hover, .navbar-custom > li.active > a:focus {
    color: #1367b3;
    font-weight: bold;
    background: #ffffff;
    border-bottom: 3px solid #1367b3;
    /* border: none; */
    border-radius: 0px;
    height: 100px;
}
/*----------------------  END NAV BAR CUSTOM CSS ----------------------------*/
/*----------------------  START FEEDBACK CUSTOM CSS ----------------------------*/
.rating {
    float:left;
    border:none;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #1367b3;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #1367b3;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #1367b3;
}
.rating > label:active {
    position:relative;
}
/*----------------------  END FEEDBACK CUSTOM CSS ----------------------------*/

/*----------------------------------LOCATE US ---------------------------------------*/
.categoryHeader{
	padding-top: 20px;
	color: #0F7CC7;
	padding-bottom:10px;
}
.custom-icon.icon-iconlocation {
    background: url(../images/formicons/dealerlocation.png);
    background-size: cover;
}
.custom-icon.icon-iconfacility {
    background: url(../images/formicons/dealertypes.png);
    background-size: cover;
}
.getdirection{    
    min-width: 150px;
    background-color: #1367b3;
    margin-left: 50%;
    padding: 8px;
    color: #fff;
    background-color: #1367b3;
   /* border-color: #1367b3;*/
    border: 0;
}
.locateus-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.locateus-icon.small {
    width: 16px;
    height: 16px;
}
.locateus-icon.icon-iconcall {
    background: url(../images/formicons/Call.png);
    background-size: cover;
}
.locateus-icon.icon-iconemailid {
    background: url(../images/formicons/Email.png);
    background-size: cover;
}
.locateus-icon.icon-iconhours {
    background: url(../images/formicons/workinghour.png);
    background-size: cover;
}
.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    bottom:10px;
    border-radius: 0px;
   /* width: 40%;*/
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.locateuscard {
    background: url(../images/home/Bacgroundpatch.jpg);
    background-size: cover;
   /* height: 120px;*/
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.iconname{    
    margin-top:20px;
    font-size:17px;
}
/*----------------------------------HEADER CSS ---------------------------------------*/

.userclass{    
    font-weight: bold;
    text-transform: capitalize;
}
.userright{    
    border-radius: 50%;
    margin-right:10px;
    margin-top:20px;
}

/*----------------------------------END HEADER CSS ---------------------------------------*/

/*----------------------------------HOME PAGE SLIDER CUSTOM CSS ---------------------------------------*/

.slider-icon {
        position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;    
   font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.slider-icon.small {
    width: 32px;
    height: 32px;
}
.slider-icon.icon-slideleft {
    background: url(../images/home/Slider-left.png);
    background-size: cover;
}
.slider-icon.icon-slideright {
    background: url(../images/home/Slider-right.png);
    background-size: cover;
}

/*----------------------------------END HOME PAGE SLIDER CUSTOM CSS ---------------------------------------*/

.customalign{    
    margin-top: 15px;
    /*max-width:110px;*/
    word-wrap: break-word;
    white-space: normal;
    text-align:justify;
    font-size: 20px;
    text-transform: capitalize;
}
/*----------------------------------END BUTTON LOADER CSS ---------------------------------------*/
/*.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}*/
/*----------------------------------END BUTTON LOADER CUSTOM CSS ---------------------------------------*/

/*----------------------------------START DROPDOWN CUSTOM CSS ---------------------------------------*/

select {
    background: rgba(255, 255, 255, .0) !important;
    color:#000;
    /*text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);*/
}
option {
    background-color: rgba(0, 0, 0, .5);
}

/*----------------------------------END DROPDOWN CUSTOM CSS ---------------------------------------*/

/*----------------------------------START MYACCOUNT CUSTOM CSS ---------------------------------------*/
.itemstyle{    
    font-family: Helvetica-Bold;
    font-size:17px;
    color:#717171;
    border: 0px solid #ddd !important;
}
.itemlist{
    font-family: Helvetica;
    font-size:15px;
    color:#000000;
    border: 0px solid #ddd !important;
}
.carlist{
    font-family: Helvetica;
    font-size:16px;
    color:#000000;
    border: 0px solid #ddd !important;
    padding: 5px 0px !important;
}
.custom-icon.icon-mycardate {
    background: url(../images/formicons/mycars/dateofpurchase.png);
    background-size: cover;
}
.custom-icon.icon-mycarexpiry {
    background: url(../images/formicons/mycars/Expirydate.png);
    background-size: cover;
}
.custom-icon.icon-mycarpolicy {
    background: url(../images/formicons/mycars/Policynumber.png);
    background-size: cover;
}
.custom-icon.icon-mycarmodel {
    background: url(../images/formicons/mycars/Model.png);
    background-size: cover;
}
.custom-icon.icon-mycarfuel {
    background: url(../images/formicons/mycars/Fueltype.png);
    background-size: cover;
}
.custom-icon.icon-mycarinsurance {
    background: url(../images/formicons/mycars/Insurancecompany.png);
    background-size: cover;
}
.custom-icon.icon-mycarservicedate {
    background: url(../images/formicons/mycars/Last%20service%20dat.png);
    background-size: cover;
}
.custom-icon.icon-mycarengine {
    background: url(../images/formicons/mycars/Engineno.png);
    background-size: cover;
}
.custom-icon.icon-mycarchasis {
    background: url(../images/formicons/mycars/Chasis-no.png);
    background-size: cover;
}
.custom-icon.icon-mycarregno {
    background: url(../images/formicons/mycars/RegistrationNumber.png);
    background-size: cover;
}
.custom-icon.icon-mycarkilometer {
    background: url(../images/formicons/mycars/Kilometer.png);
    background-size: cover;
}
.custom-icon.icon-profilename {
    background: url(../images/formicons/mycars/Name.png);
    background-size: cover;
}
.custom-icon.icon-profilemail {
    background: url(../images/formicons/mycars/Mail.png);
    background-size: cover;
}
.custom-icon.icon-profilemobile {
    background: url(../images/formicons/mycars/mob.png);
    background-size: cover;
}
.custom-icon.icon-profileaddress {
    background: url(../images/formicons/mycars/Address.png);
    background-size: cover;
}
.custom-icon.icon-profilebirth {
    background: url(../images/formicons/mycars/Birthday.png);
    background-size: cover;
}
.custom-icon.icon-profileanniversary {
    background: url(../images/formicons/mycars/Anniversary.png);
    background-size: cover;
}
.custom-icon.icon-profilemodel {
    background: url(../images/formicons/mycars/Model.png);
    background-size: cover;
}
.custom-icon.icon-paymentfor {
    background: url(../images/formicons/mycars/paymentfor.png);
    background-size: cover;
}
.custom-icon.icon-paymentamount {
    background: url(../images/formicons/mycars/amount.png);
    background-size: cover;
}

/*----------------------------------END MYACCOUNT CUSTOM CSS ---------------------------------------*/
.form-control2:focus {
  border-color: #636363;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control2 {
    display: block;
    width: 95%;
    height: 46px;
    font-size: 18px;
    padding: 6px 2px;
    line-height: 1.42857143;
    color: #828181;
    background-color: transparent;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
    border-bottom: 1px solid #636363;
    -webkit-box-shadow: none;
     box-shadow: none; 
     -webkit-transition: none;
   /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}
.form-control2::-moz-placeholder {
  color: #828181;
  opacity: 1;
}
.form-control2:-ms-input-placeholder {
  color: #828181;
}
.form-control2::-webkit-input-placeholder {
  color: #828181;
}
.has-error .form-control2 {
    border-color: #a94442;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /*color: #a94442 !important;*/
}

.has-error .form-control2 {
    /* border-color: #a94442; */
    /* -webkit-box-shadow: none !important; */
    /* box-shadow: none !important; */
    /* color: #a94442; */
}
.bordercss {
    border-bottom: 1px solid #636363 !important;
}
.textcolor {
    font-family: Helvetica;
    color:#1367b3;
    font-size:17px;
}
.textcss {
    font-family: Helvetica;
    font-size:17px;
}
.textwidth {
    width:10px;
}
.textmargin {
    
}
.paymenttext {
    font-family: Helvetica;
    font-size:19px;
}
.paymentcss {
    font-family: Helvetica;
    font-size:16px;
}
.labelcss {
    font-family: Helvetica;
    color:#363636;
    font-size:17px;
}
.labelcolor {
    font-family: Helvetica;
    color:#000000;
    font-size:17px;
}
/*----------------------------------CAR CUSTOM CSS ---------------------------------------*/
.listcss {
    border: 0px solid #ddd;
    padding: 10px 0px !important;
}
.classgradient{
    background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 9%, #1367b3 11%, #1367b3 100%);
    color: white;
    padding: 6px;
    height: 48px;
    font-family: Helvetica;
    font-size: 1.5em;
    /*background: linear-gradient(109deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 9%, #1367b3 9%, #1367b3 100%);*/
/*background:linear-gradient(to right, rgba(236,217,187,1) 16%, rgba(201,172,128,1) 20%, rgba(183,150,98,1) 22%, rgba(168,133,77,1) 22%, rgba(225,203,168,1) 100%);*/   
}


.carboxshadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.carboxshadow{
  display: block;
  /*margin-bottom: 10px;*/
  background-color: white;
  border: 1px solid lightgray;
	border-radius: 5px;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    border-radius: 0px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.titlecss {
    font-family: Helvetica-Bold;
    color:#1367b3;
    font-size:22px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.pricecss {
    text-align:right;
    font-size: 15px;
    font-weight: normal;
    text-shadow: none;
    vertical-align: middle;
}
.explorecss{
    font-size: 20px;
    /*padding-top: 10px;*/
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    font-weight: 600;
    color: #0D639C;
    margin-bottom: 15px;
	/*padding-left: 25px;*/
}

.listitem li{
    width:150px!important;
    background:#464647;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: -1px;
}
  .disablecss::after {
    content: '';
    width: 80%;
    position: absolute;
    top: 100%;
    left: 10%;
    height: 3px;
    background-color: transparent !important;
    transform: scaleX(0);
    transition: transform .35s ease;
}
.img-wrap {
    position: relative;
    display: inline-block;
    /*border: 1px white solid;*/
    font-size: 0;
}
.img-wrap .carclose {
    position: absolute;
    top: -15px;
    right: -22px;
    z-index: 100;
    background-color: transparent;
    padding: 1px 0px 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    font-size: 30px;
    line-height: 10px;
    border-radius: 0%;
}
.img-wrap:hover .close {
    opacity: 1;
}
.custom-icon.icon-closeicon {
    background: url(../images/formicons/close.png);
    background-size: cover;
}




/*----------------------------------END CAR CUSTOM CSS ---------------------------------------*/

/*----------------------------------START CAR DETAILS CUSTOM CSS ---------------------------------------*/
.caritemlist li{
  position: relative;
    display: block;
    text-align: center;
    width: calc(100% / 5) !important;
}
.caritemlist > li > a {
    border-bottom: 0px solid #ddd;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 80px !important;
}
.custom-icon.size1 {
    width: 43px;
    height: 26px;
}
.custom-icon.size2 {
    width: 40px;
    height: 28px;
}
.custom-icon.size3 {
    width: 31px;
    height: 30px;
}
.custom-icon.size4 {
    width: 35px;
    height: 30px;
}
.custom-icon.size5 {
    width: 32px;
    height: 32px;
}
.custom-icon.icon-overviewon {
    background: url(../images/cardetail/overview1.png);
    background-size: cover;
}
.custom-icon.icon-overviewoff {
    background: url(../images/cardetail/overview.png);
    background-size: cover;
}
.custom-icon.icon-galleryon {
    background: url(../images/cardetail/gallery1.png);
    background-size: cover;
}
.custom-icon.icon-galleryoff {
    background: url(../images/cardetail/gallery.png);
    background-size: cover;
}
.custom-icon.icon-coloron {
    background: url(../images/cardetail/colors1.png);
    background-size: cover;
}
.custom-icon.icon-coloroff {
    background: url(../images/cardetail/colors.png);
    background-size: cover;
}
.custom-icon.icon-varianton {
    background: url(../images/cardetail/variant1.png);
    background-size: cover;
}
.custom-icon.icon-variantoff {
    background: url(../images/cardetail/variant.png);
    background-size: cover;
}
.custom-icon.icon-specon {
    background: url(../images/cardetail/spec1.png);
    background-size: cover;
}
.custom-icon.icon-specoff {
    background: url(../images/cardetail/spec.png);
    background-size: cover;
}
.carcss {
    font-family: Helvetica-Bold;
    color:#000;
    font-size:22px;
    text-transform: uppercase;
}
.carlistcss {
    border: 0px solid #ddd;
    padding: 2px 0px !important;
}
 .block {
    /*border: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
}
.circle {
    background: #fff;
    border-radius: 200px;
    color: #1367b3;
    height: 85px;
    font-weight: bold;
    width: 85px;
    display: table;
    margin: 5px auto;
    border: 2px solid #1367b3;
    word-wrap:break-word;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}
.engine {
    background: url(../images/cardetail/engine.png);
    background-size: cover;
}
.mileage {
    background: url(../images/cardetail/mileage.png);
    background-size: cover;
}
.power {
    background: url(../images/cardetail/power.png);
    background-size: cover;
}
.transmission {
    background: url(../images/cardetail/transmission.png);
    background-size: cover;
}
.fueltype1 {
    background: url(../images/cardetail/fuel.png);
    background-size: cover;
}
.seating {
    background: url(../images/cardetail/seat.png);
    background-size: cover;
}


/*----------------------------------END CAR DETAILSCUSTOM CSS ---------------------------------------*/

