<div ng-controller="headerCtrl">
    <div class="container-fluid" style="background-color:#FFFFFF;color:#fff;height:90px;">
        <div class="page-header">
            <div class="pull-left">
                <a ng-href="#"><img src="images/home/logo.jpg" class="khtlogo" style="position:absolute;left:5%;z-index:8;margin-top: 11px;" /></a>
            </div>
            <div class="pull-right">
                <div class="cartitle text-right" style="padding-top:20px;" ng-show="loginsession">
                    <div class="btn btn-primary btn-lg btn-custom-lg" id="myBtn" style="background:#F77041;border-color: #F77041;border-radius: 10px;"> Sign in / Register</div>
                </div>
                <!--<h3 class="text-right" style="color:blue;">LOGIN</h3>-->
                <div class="row" style="margin-right:20px;" ng-show="loginvalid">
                    <img src="images/home/profile.png" width="40" height="40" class="userright pull-left" alt="Responsive image">
                    <div class="pull-right" style="color:#1367b3;font-family: Helvetica;margin-top:15px;">
                        <div class="dropdown customalign">
                            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    {{username}}
    <span class="caret"></span>
  </a>
                            <ul class="dropdown-menu dropdown-menu-right" style="background:#fff!important;" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="myaccount();">My Account </a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="myprofile();">My Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout();">Log Out</a></li>
                            </ul>
                        </div>
                        <!-- <h4 class="userclass">{{username}}</h4> 
          <h4 style="margin-top:-5px;">My Account </h4> 
            <h5 style="margin-top:-5px;"><a ng-click="logout();" data-toggle="tab">Log Out</a> </h5>-->
                    </div>
                </div>
            </div>
            <!-- <div class="clearfix"></div>-->
        </div>
    </div>
    <div class="alert alert-success alert-dismissable fade in" ng-show="Showsuccessalert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>{{successmessage}}</strong>
    </div>
    <div class="alert alert-danger alert-dismissable fade in" ng-show="Showerroralert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>{{errormessage}}</strong>
    </div>
    <!--<nav class="navbar navbar-inverse " data-spy="affix" data-offset-top="120" style="border-radius:0px;">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a ng-click="goToHome();" data-toggle="tab">Home</a></li>
        <li><a  ng-click="goToCars();" data-toggle="tab">Cars</a></li>
        <li><a ng-click="goToAccessories();" data-toggle="tab">Accessories</a></li>
        <li><a ng-click="goTonavbar();" data-toggle="tab">Services</a></li>
        <li><a ng-click="goToLocateus();" data-toggle="tab">Locate Us</a></li>
        <li><a ng-click="goToCareers();" data-toggle="tab">Careers</a></li>
        <li><a ng-click="goToAboutus();" data-toggle="tab">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>-->
    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-header" style="padding:35px 40px;">
                        <ul class="nav nav-tabs">
                            <li class="active" style="width:50%!Important"><a data-toggle="tab" href="#signin">LOGIN</a></li>
                            <li style="width:50%!Important"><a data-toggle="tab" href="#signup">SIGN UP</a></li>
                        </ul>
                    </div>
                    <div class="modal-body" style="padding:5px 50px;">
                        <div class="tab-content">
                            <div id="signin" class="tab-pane fade in active">
                                <div class="row text-center">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:5px;">
                                        <div class="btn btn-info btn-lg btn-custom-lg facebook-image faceimg" id="facebtn" style="width:230px;padding: 6px 16px;font-size:16px;" ng-click="facebooklogin();"> Login with Facebook</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:5px;">
                                        <div class="btn btn-danger btn-lg btn-custom-lg google-image googleimg" id="googlebtn" style="width:230px;padding: 6px 16px;font-size:16px;" ng-click="googlelogin();"> Login with Google</div>
                                    </div>
                                </div>
                                <form role="form" name="loginform" novalidate>
                                    <br>
                                    <br>
                                    <div class="form-group formborder" ng-class="{ 'has-error' : loginform.submitted && loginform.loginemail.$invalid }">
                                        <input type="email" ng-model="login.email" class="form-control" name="loginemail" id="usrname" placeholder="Email ID" required>
                                        <p ng-show="loginform.submitted && loginform.loginemail.$error.required" class="help-block">Email is Required</p>
                                        <p ng-show="loginform.submitted && loginform.loginemail.$error.email" class="help-block">Enter a valid email.</p>

                                    </div>
                                    <div class="form-group formborder" ng-class="{ 'has-error' : loginform.submitted && loginform.password.$invalid }">
                                        <input type="password" ng-model="login.password" name="password" class="form-control" id="psw" placeholder="Password" required>
                                        <p ng-show="loginform.submitted && loginform.password.$error.required" class="help-block">Password is Required</p>
                                        <!-- <p ng-show="submitted && loginform.password.$error.email" class="help-block">Enter a valid email.</p>-->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="checkbox" style="margin-top:0px;margin-bottom:0px;margin-left: 10px;">
                                                <label>
                                                    <input type="checkbox" value="" checked>Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <p class="pull-right"><a href="#" style="color:#1367b3 !important;" id="myforgot">Forgot Password?</a></p>
                                        </div>
                                    </div>
                                    <div class="cartitle text-center">
                                        <div class="btn btn-primary btn-md btn-custom-lg" style="width:120px;" ng-click="normallogin();">LOGIN</div>
                                    </div>
                                </form>
                            </div>
                            <div id="signup" class="tab-pane fade">
                                <form role="signupform" name="signupform" novalidate>
                                    <div class="form-group formborder" ng-class="{ 'has-error' : signupform.submitted && signupform.signupname.$invalid }">
                                        <input type="text" ng-model="data.name" class="form-control" name="signupname" id="name" placeholder="Name" required>
                                        <p ng-show="signupform.submitted && signupform.signupname.$error.required" class="help-block">Name is Required</p>
                                    </div>
                                    <div class="form-group formborder" ng-class="{ 'has-error' : signupform.submitted && signupform.signupmobile.$invalid }">
                                        <input type="number" ng-model="data.mobile" ng-minlength="10" class="form-control" name="signupmobile" id="Mobile" placeholder="Mobile Number" required>
                                        <p ng-show="signupform.submitted && signupform.signupmobile.$error.required" class="help-block">Mobile No is Required</p>
                                        <p ng-show="signupform.submitted && signupform.signupmobile.$error.minlength" class="help-block">Mobile Number Should be 10 digits</p>
                                    </div>
                                    <div class="form-group formborder" ng-class="{ 'has-error' : signupform.submitted && signupform.signupmail.$invalid }">
                                        <input type="email" ng-model="data.email" class="form-control" name="signupmail" id="email" placeholder="Email ID" required>
                                        <p ng-show="signupform.submitted && signupform.signupmail.$error.required" class="help-block">Email is Required</p>
                                        <p ng-show="signupform.submitted && signupform.signupmail.$error.email" class="help-block">Enter a valid email.</p>
                                    </div>
                                    <div class="form-group formborder" ng-class="{ 'has-error' : signupform.submitted && signupform.signuppassword.$invalid }">
                                        <input type="password" ng-model="data.password" ng-minlength="6" class="form-control" name="signuppassword" id="password" placeholder="Password" required>
                                        <p ng-show="signupform.submitted && signupform.signuppassword.$error.required" class="help-block">Password is Required</p>
                                        <p ng-show="signupform.submitted && signupform.signuppassword.$error.minlength" class="help-block">Minimum password should be 10 letters</p>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>I agree to T&C</label>
                                    </div>
                                    <div class="cartitle text-center">
                                        <div class="btn btn-primary btn-md btn-custom-lg" style="width:120px;" ng-click="signup();">SIGN UP</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="forgotpassword" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enter you email. New password will be send to your email.</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" name="forgotform" novalidate>
                            <br>
                            <br>
                            <div class="form-group formborder" ng-class="{ 'has-error' : forgotform.submitted && forgotform.loginemail.$invalid }">
                                <input type="email" ng-model="forgot.email" class="form-control" name="loginemail" id="usrname" placeholder="Email ID" required>
                                <p ng-show="forgotform.submitted && forgotform.loginemail.$error.required" class="help-block">Email is Required</p>
                                <p ng-show="forgotform.submitted && forgotform.loginemail.$error.email" class="help-block">Enter a valid email.</p>

                            </div>
                            <div class="cartitle text-center">
                                <div class="btn btn-primary btn-md btn-custom-lg" style="width:120px;" ng-click="forgotpassword();">SUBMIT</div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#myBtn").click(function() {
            $("#myModal").modal();
        });
        $("#myforgot").click(function() {
            $('#myModal').modal('toggle');
            $("#forgotpassword").modal();
        });
    });
</script>
<style>
    .affix {
        top: 0;
        width: 100%;
        position: fixed;
        max-width: 1200px;
        z-index: 9;
    }
    
    .affix + .container-fluid {
        padding-top: 70px;
    }
    
    .page-header {
        padding-bottom: 9px;
        margin: 0px 0 0px;
        border-bottom: 0px solid #eee;
    }
    /*   .navbar-nav li a:hover, .navbar-nav li.active a {
      color: rgba(32, 106, 155, 1) !important;
      background-color: transparent;
      border-bottom: 3px solid #206A9B;
  }*/
    /*-------------------------  NAV BAR  -----------------------------*/
    
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: rgba(19, 103, 179, 1) !important;
        background-color: transparent;
        border-bottom: 3px solid #1367b3;
    }
    
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px !important;
        border: 1px solid transparent;
    }
    
    .nav > li {
        position: relative;
        display: block;
        text-align: center;
        /* border-left: 1px solid #fff; */
        /* border-right: 1px solid #ccc; */
        /* width: 16.6667%; */
        width: calc(100% / 7);
    }
    
    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 100%;
    }
    
    .navbar-inverse {
        background-color: #000;
        border-color: #080808;
    }
    
    .formborder {
        margin-bottom: 30px !important;
    }
    
    .nav-tabs > li > a {
        border-bottom: 0px solid #ddd;
        color: #717171;
        font-size: 16px;
        font-weight: bold;
    }
    
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #1367b3;
        font-weight: bold;
        border-bottom: 0px solid red;
        border: none;
    }
    
    nav.navbar ul.navbar-nav a::after {
        content: '';
        width: 80%;
        position: absolute;
        top: 100%;
        left: 10%;
        height: 3px;
        background-color: #1367b3;
        transform: scaleX(0);
        transition: transform .35s ease;
    }
    
    nav.navbar ul.navbar-nav a:hover::after {
        transform: scaleX(1);
    }
    /*-------------------------  MODAL DIALOG -----------------------------*/
    
    .modal-header {
        border-bottom: 0px solid #e5e5e5;
    }
    
    .modal-content {
        background-color: #ffffff;
        /* border: 1px solid #bdc3c7;*/
        border-radius: 0px;
        outline: 0;
    }
    
    .close {
        float: right;
        margin-right: 5px;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        color: #1367b3;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 1;
    }
    
    .close:hover,
    .close:focus {
        color: #1367b3;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: 1;
    }
    /*-------------------------  FORM BUTTON CUSTOM -----------------------------*/
    /*danger btn*/
    
    .btn-danger {
        color: #fff;
        background-color: #dd4b39;
        border-color: #dd4b39;
    }
    
    .btn-danger:focus,
    .btn-danger.focus {
        color: #fff;
        background-color: #dd4b39;
        border-color: #dd4b39;
    }
    
    .btn-danger:hover {
        color: #fff;
        background-color: #dd4b39;
        border-color: #dd4b39;
    }
    /*info btn*/
    
    .btn-info {
        color: #fff;
        background-color: #3b5998;
        border-color: #3b5998;
    }
    
    .btn-info:focus,
    .btn-info.focus {
        color: #fff;
        background-color: #3b5998;
        border-color: #3b5998;
    }
    
    .btn-info:hover {
        color: #fff;
        background-color: #3b5998;
        border-color: #3b5998;
    }
    /* HEADER ACCOUNT DROPDOWN CUSTOM CSS*/
    
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #000;
        text-decoration: none;
        background-color: #ffffff;
    }
    
    .dropdown-menu > li > a {
        display: block;
        color: #000000 !important;
        white-space: nowrap;
    }
    
    .dropdown-menu .divider {
        height: 1px;
        margin: 5px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    /* END HEADER ACCOUNT DROPDOWN CUSTOM CSS*/
</style>