<style>
  .affix {
      top: 0;
      width: 100%;
	  position: fixed;
	  max-width: 1200px;
	  z-index: 9;
  }
        .caption1 {
        width:100%;
        bottom: 5.3rem;
        position: absolute;
        height:27px;
    }
      .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        height:42px;
    }
    .cartext{
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    color: #0D639C;
    margin-bottom: 15px;
    padding-top:10px;
	/*padding-left: 25px;*/
}
    .caption h4 {
        color: #fff;
       /* -webkit-font-smoothing: antialiased;*/
    }
        .carousel-control {
      background-color: transparent;
      opacity: 1; 
}
  </style>
<script>
$(document).ready(function(){
    $('html, body').scrollTop(0);
    $(window).on('load', function() {
    setTimeout(function(){
        $('html, body').scrollTop(0);
    }, 0);
 });
});
</script>
<!--
<div id="bannerCarousel" class="carousel slide" data-ride="carousel" ng-cloak>  
     <div class="carousel-inner" role="listbox">
            <div class="item" data-ng-repeat="img in bannerdata" data-ng-class="{active : $first}">
                <img data-ng-src="https://kht-group-backend.myridz.com{{img.image.url}}" alt=" carousel {{$index}}" />
            </div>
        </div>
    <ol class="carousel-indicators">
            <li data-target="#bannerCarousel" data-ng-repeat="img in bannerdata" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
        </ol>
        <a class="carousel-control left" href="#bannerCarousel" data-slide="prev" target="_self">
            <span class="slider-icon icon-slideleft small"></span>
        </a>
        <a class="carousel-control right" href="#bannerCarousel" data-slide="next" target="_self">
            <span class="slider-icon icon-slideright small"></span>
        </a>
    </div>
-->
      <div class="row top-buffer" style="height:20px;height: 10px;margin-left: 0px;margin-right: 0px;background-color: rgba(54, 54, 54, .14)!important;margin-top: 0px;"> 
</div>

<div class="row"  style="background-color: rgba(54, 54, 54, .0)!important;margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="background: white;">
                <img style="margin: 0px auto;width:75%;" src="images/home/DrChef16.jpg" />
         
                     
    </div>
</div>


<br><br>



<!--<div class="row" style="background:white;"><br><br>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="extraspace text-center" style="font-size: 26px;margin: auto;width: 55%;padding: 10px;">Foodies met at a Stanford Graduate School of Business Program, and the cool concept of healthy meal service to the next-gen children at schools was ignited.<span style="color:#F77041;font-size:25px;">"Let's call it sCoolMeal"</span>,they said.  </div>
    </div>

</div>-->

<div class="row" style="    background-color: white!important;margin-left: 0px;margin-right: 0px;"><br><br>
    <div class="titleHead" style="color:#9B9BA4;">Are You School</div><br>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
    </div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
                <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #1797D5;"> 
                <img style="margin: 0px auto;height: 70px;" src="/images/newimage/WHO.png" />
                <div class="titleHead" style="color:black;font-size:16px;">WHO’s Health Promoting School</div>
                <!-- <div class="extraspace text-center" style="font-size:15px;">Balanced meals Designed by nutritionists
Just for YOUR child  </div>-->
                    </div>
                     
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
        <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #70B01E;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Food.jpeg" />
         <div class="titleHead" style="color:black;font-size:16px;">Food + Education</div>
                 <!--<div class="extraspace text-center" style="font-size:15px;">Quinoa upma Chia seeds in halwa
Foxtail millet noodles  </div>-->
        </div>
                     
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
        <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #DAAA00;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Academic.png" />
        <div class="titleHead" style="color:black;font-size:16px;">Academic Benefits
</div>
                <!-- <div class="extraspace text-center" style="font-size:15px;">Scientists engineering menus To make Healthy  YUMMY  </div>
                    --> 
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
        <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #8CDFDF;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Reduced.png" />
        <div class="titleHead" style="color:black;font-size:16px;">Reduced Food Management burden

</div>
                <!-- <div class="extraspace text-center" style="font-size:15px;">Spend time with your child and yourself Packing lunch? Leave it to us  </div>-->
        </div>
                     
    </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
         <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #7F2223;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Socail.jpg" />
        <div class="titleHead" style="color:black;font-size:16px;">Social Change

</div>
              <!--   <div class="extraspace text-center" style="font-size:15px;">Spend time with your child and yourself Packing lunch? Leave it to us  </div>-->
         </div>
                     
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
    </div>
	
<br><br><br><br>

</div>

<div class="row" style="    background-color: white!important;margin-left: 0px;margin-right: 0px;"><br><br>
    <div class="titleHead" style="color:#9B9BA4;">Are You Parent</div><br>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
    </div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
                <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #01B5F0;"> 
                <img style="margin: 0px auto;height: 70px;" src="/images/newimage/Healthy.png" />
                <div class="titleHead" style="color:black;font-size:16px;">Healthy Nutritious breakfast & meal</div>
                <!-- <div class="extraspace text-center" style="font-size:15px;">Balanced meals Designed by nutritionists
Just for YOUR child  </div>-->
                    </div>
                     
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
        <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #F7921C;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Child.png" />
         <div class="titleHead" style="color:black;font-size:16px;">Child - Food & Lifestyle education</div>
                 <!--<div class="extraspace text-center" style="font-size:15px;">Quinoa upma Chia seeds in halwa
Foxtail millet noodles  </div>-->
        </div>
                     
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
        <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #F3C11B;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Parentalrole.jpg" />
        <div class="titleHead" style="color:black;font-size:16px;">Parental Role Education
</div>
                <!-- <div class="extraspace text-center" style="font-size:15px;">Scientists engineering menus To make Healthy  YUMMY  </div>
                    --> 
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
        <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #000000;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/Differentprogram.png" />
        <div class="titleHead" style="color:black;font-size:16px;">DIfferent program for girls

</div>
                <!-- <div class="extraspace text-center" style="font-size:15px;">Spend time with your child and yourself Packing lunch? Leave it to us  </div>-->
        </div>
                     
    </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center" style="padding-right: 5px;padding-left: 5px;">
         <div class="card" style="min-height:195px;padding: 8px;border-bottom: 3px solid #CBA178;"> 
         <img style="margin: 0px auto;height: 70px;" src="images/newimage/AppTrack.jpeg" />
        <div class="titleHead" style="color:black;font-size:16px;">DrChef’s App - Track & Act

</div>
              <!--   <div class="extraspace text-center" style="font-size:15px;">Spend time with your child and yourself Packing lunch? Leave it to us  </div>-->
         </div>
                     
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
    </div>
	
<br><br><br><br>

</div>



	
	<!--<div ng-cloak style="background:white;">
			<div class="titleHead" style="color:#9B9BA4;">PARTNERS & ASSOCIATIONS</div>
				
		<div class="row" style="text-align: center;margin: 0 auto;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="boxshadow">
                	<div class="quotes">
					</div>
                             <h4 class="text-center" style="color:#9B9BA4;font-weight: bold;font-size: 20px;">Incubatee at CFTRI</h4>  
				<div class="extraspace">We are an Incubatee at CSIR - Central Food Technological Research Institute(CFTRI), Mysore in association with Karnataka Biotechnology and Information Technology Services(KBITS) where we have scientists working on kids nutrition. </div><br>
                <br><br>
            </div>
			</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                         <div class="boxshadow">
                	<div class="quotes">
					</div>
                              <h4 class="text-center" style="color:#9B9BA4;font-weight: bold;font-size: 20px;">FSSAI Approved</h4> 
				<div class="extraspace">The Nutritious meals that we cook for the kids are cooked in a state of the art kitchen that is ISO22000 certified and FSSAI licensed and we follow the highest quality and food safety standards while we cook and pack the children's lunch boxes </div><br>
                <br><br>
            </div>
			</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                     <div class="boxshadow">
                	<div class="quotes">
					</div>
                                          <h4 class="text-center" style="color:#9B9BA4;font-weight: bold;font-size: 20px;">Team</h4> 
				<div class="extraspace">sCoolMeal was founded by Alumni of Stanford Ignite-A Stanford Graduate School of Business program on Innovation and Entrepreneurship in 2015 </div><br>
        <br><br>
            </div>
			</div>
        </div>
        <div class="row top-buffer"> 
</div>
   

	</div>
-->
       <!-- <div class="row top-buffer">--> 
<!--        <footer class="container-footer text-center" style="background-color: rgba(54, 54, 54, .14)!important;">
        <div class="container">
         <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">    
      <div>
        <p class="text-center">
            <h4 style="color:#9B9B9B;font-size:20px;">FOLLOW US ON
</h4>
          <img src="images/home/facebook1.png" width="auto" height="50">
          <img src="images/home/twitter1.png" width="auto" height="50">
        </p>   
      </div>
               
    </div>
             <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">  
                 <br>
      <p class="text-center">     
          <img src="images/home/sCoolMeal.png" style="height:120px;width:auto;">
        </p>   
               
    </div>
            
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                  <h4 style="color:#9B9B9B;font-size: 14px;">A Stanford Ignite Alumni Venture
Incubatee at CFTRI-KBITS
</h4>
                  
             </div>
  
     <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-center">
         <img src="images/home/NutritionFocused@3x.png" width="auto" height="20px">
         <h4 style="color:black;font-size: 14px;">info@scoolmeal.com</h4>         
  
    </div>
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-center">
                   <img src="images/home/NutritionFocused@3x.png" width="auto" height="20px">
                    <h4  style="color:#9B9B9B;font-size: 14px;">sCoolMeal FoodVentures Pvt Ltd<br> 
197/293-3, 32nd Main, BTM 1st Stage, Bangalore 560068</h4> 
         
  
    </div>
               <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-center">
                   <img src="images/home/NutritionFocused@3x.png" width="auto" height="20px">
                    <h4  style="color:black;font-size: 14px;">+91 1212222222 (Whatsapp only)</h4> 
         
  
    </div>
  	</div>

</div>
</footer>-->
